style.
    .leaflet-popup-content-wrapper {
        background: rgba(255, 255, 255, 0.9);
    }
    .leaflet-container .leaflet-popup .min-popup h1 {
        position: relative;
        font-size: 20px;
        border-bottom: 3px solid rgb(211, 211, 211);
        padding-bottom: 5px;
    }
    .leaflet-container .leaflet-popup .min-popup h1:after {
        content: '';
        height: 100%;
        width: 30px;
        border-bottom: 3px solid rgb(0, 86, 183);
        position: absolute;
        left: 0;
        top: 3px;
    }
    .leaflet-container .leaflet-popup .min-popup h5 {
        font-size: 14px;
        line-height: 16px;
    }
    .leaflet-container .leaflet-popup .min-popup p {
        font-size: 12px;
        line-height: 12px;
    }

.min-popup
    h1 Quick Report
    h5 
        i.fa.fa-newspaper-o
        |  #{title}
    h5
        i.fa.fa-clock-o 
        strong  Submitted by:
        span(style="font-weight: normal;")  #{user} on #{datetime}

    if hasRidingConditions
        h5
            i.fa.fa-info-circle 
            strong  Riding Conditions:
        ul
            if ridingConditions.ridingQuality
                li 
                    | Riding quality was:
                    span(style="margin-left: 5px;")
                        i.fa.fa-check
                        em #{ridingConditions.ridingQuality}
            if ridingConditions.snowConditions.length > 0
                li 
                    | Snow conditions were:
                    each item in ridingConditions.snowConditions
                        span(style="margin-left: 5px;")
                            i.fa.fa-check
                            em #{item}
            if ridingConditions.rideType.length > 0
                li 
                    | We rode:
                    each item in ridingConditions.rideType
                        span(style="margin-left: 5px;")
                            i.fa.fa-check
                            em #{item}
            if ridingConditions.stayedAway.length > 0
                li 
                    | We stayed away from:
                    each item in ridingConditions.stayedAway
                        span(style="margin-left: 5px;")
                            i.fa.fa-check
                            em #{item}
            if ridingConditions.weather.length > 0
                li 
                    | The day was:
                    each item in ridingConditions.weather
                        span(style="margin-left: 5px;")
                            i.fa.fa-check
                            em #{item}

    if hasAvalancheConditions
        h5
            i.fa.fa-warning
            strong  Avalanche Conditions:
        ul
            if avalancheConditions.sound
                li
                    | There were signs of snowpack instability including whumpfs, shooting cracks or drum-like sounds.  
            if avalancheConditions.snow
                li
                    | There was loading within the past 48 hours including roughly 30 cm of new snow or more, significant wind transport or rain.  
            if avalancheConditions.temp
                li
                    | There were recent rapid rise in temparature to near 0C.  
            if avalancheConditions.slab
                li
                    | There were signs of slab avalanches in the area yesterday or today. 
 
    if comment
        h5 
            i.fa.fa-comments
            strong  Comments: 
        p(style="margin-left: 20px;") #{comment}

    if uploads.length > 0
        H5
            i.fa.fa-camera
            strong  Uploads: 
            small (click/tap to enlarge)
        ul.list-inline
            each url in uploads
                li(style="height: 50px;")
                    a(href=url, target="_blank")
                        img(src=url+'?size=50x50')

    H5 
        i.fa.fa-share-alt-square
        strong  Share this report:
    ul.ac-min-shares.list-inline(style="margin-left: 15px;", data-ac-shareurl=shareurl)
        li
            a(href="https://twitter.com/intent/tweet?url="+shareurl)
                i.fa.fa-twitter.fa-fw.fa-lg
        li
            a(href="https://www.facebook.com/sharer/sharer.php?u="+shareurl)
                i.fa.fa-facebook.fa-fw.fa-lg
        li
            a(href="https://plus.google.com/share?url="+shareurl)
                i.fa.fa-google-plus.fa-fw.fa-lg