h1 Quick Report

h2 #{title}

p Submitted by #{user} on #{datetime}

p 
    | Riding quality was #{ridingConditions.ridingQuality}.
    | Snow conditions were #{ridingConditions.snowConditions}.
    | We rode #{ridingConditions.rideType}.
    | We stayed away from #{ridingConditions.stayedAway}.

p The day was #{ridingConditions.weather}.

h4 Avalanche Conditions:

p
    if avalancheConditions.sound
        | There were signs of snowpack instability including whumpfs, shooting cracks or drum-like sounds.  
    if avalancheConditions.snow
        | There was loading within the past 48 hours including roughly 30 cm of new snow or more, significant wind transport or rain.  
    if avalancheConditions.temp
        | There were recent rapid rise in temparature to near 0C.  
    if avalancheConditions.slab
        | There were signs of slab avalanches in the area yesterday or today.  

p Comment: #{comment}

H4 Uploads:
ul.list-inline
    each url in uploads
        li
            a(href=url)
                img(src=url+'?size=100x100')

H4 Share this report:
ul.list-inline
    li
        a(href="https://twitter.com/intent/tweet?url="+shareurl)
            i.fa.fa-twitter.fa-fw.fa-lg
    li
        a(href="https://www.facebook.com/sharer/sharer.php?u="+shareurl)
            i.fa.fa-facebook.fa-fw.fa-lg
    li
        a(href="https://plus.google.com/share?url="+shareurl)
            i.fa.fa-google-plus.fa-fw.fa-lg