doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title Avalanche Canada
    description Public Avalanche Forecast
    link http://avalanche.ca
    atom:link(href='http://avalanche.ca/api/forecast/#{forecast.region}.rss', rel='self', type='application/rss+xml')
    pubDate #{dates.issued}:00 -0800

    category Canadian Public Avalanche Forecast
    item
        title #{forecast.bulletinTitle}
        link http://avalanche.ca/forecasts/#{forecast.region}
        description <![CDATA[
            include forecast.jade
            | ]]>
        guid(isPermaLink='false') http://avalanche.ca/api/forecast/#{forecast.region}.rss?#{guid}
