#forecast
    #inner-forecast
        article.container
            .row
                header.col-xs-12
                    #header-inner
                        h1 #{forecast.bulletinTitle}
                        | Date Issued: #{ forecast.dateIssued } Valid Until: #{ forecast.validUntil }

                section#forecast-body.col-xs-12.col-md-9
                    #highlights !{forecast.highlights}
                    #forecast
                        .forecast-image
                            img.img-responsive(alt='', src='http://avalanche-canada-dev.elasticbeanstalk.com/api/forecasts/#{forecast.region}/nowcast.svg')
                        table.table.table-condensed.ac-forecast-days
                                thead.ac-thead-dark
                                    tr
                                        th
                                        th #{ forecast.dangerRatings[1].date }
                                        th #{ forecast.dangerRatings[2].date }
                                tbody
                                    tr
                                        td.ac-veg-zone--alp
                                            strong Alpine
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[1].dangerRating.alp.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[1].dangerRating.alp.replace(':', ' ') }
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[2].dangerRating.alp.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[2].dangerRating.alp.replace(':', ' ') }
                                    tr
                                        td.ac-veg-zone--tln
                                            strong Treeline
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[1].dangerRating.tln.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[1].dangerRating.tln.replace(':', ' ') }
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[2].dangerRating.tln.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[2].dangerRating.tln.replace(':', ' ') }
                                    tr
                                        td.ac-veg-zone--btl
                                            strong Bellow Treeline
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[1].dangerRating.btl.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[1].dangerRating.btl.replace(':', ' ') }
                                        td(class="ac-danger-rating--#{ forecast.dangerRatings[2].dangerRating.btl.split(':')[1].toLowerCase()}")
                                            strong #{ forecast.dangerRatings[2].dangerRating.btl.replace(':', ' ') }
                                    tr
                                        td
                                            strong Confidence:
                                        td(colspan="2")
                                            span.ac-text-default #{ forecast.confidence }

                    for problem in forecast.problems
                            hr
                            table
                                thead.ac-thead-dark
                                    tr
                                        th

                                        th
                                            strong.small What Elevations?

                                        th
                                            strong.small What Aspects?

                                        th
                                            strong.small Chances of Avalanches?

                                        th
                                            strong.small Expected Size?
                                tbody

                                    tr
                                        td
                                            h1 #{ problem.type }
                                        td
                                            img.center-block(src="#{problem.icons.elevations}")
                                        td

                                            img.center-block(src="#{problem.icons.aspects}")
                                        td

                                            img.center-block(src="#{problem.icons.likelihood}")
                                        td
                                            img.center-block(src="#{problem.icons.expectedSize}")
                            div
                                strong.small Travel and Terrain Advice
                                p !{ problem.travelAndTerrainAdvice }
                    hr
                    div
                        h2 Forecast Details

                        h3 Avalanche Summary
                        p !{forecast.avalancheSummary}

                        h3 Snowpack Summary
                        p !{forecast.snowpackSummary}

                        h3 Weather Forecast
                        p !{forecast.weatherForecast}





