article
  header
    h1 #{forecast.bulletinTitle}
    p Date Issued: 
      date(datetime=forecast.dateIssued) #{dates.issued}
    p Valid Until: 
      date(datetime=forecast.validUntil) #{dates.until}
    p Forecaster: #{forecast.forecaster}
  section
    p !{forecast.highlights}
    if forecast.dangerMode == "Spring situation"
      include forecast-table-spring
    if forecast.dangerMode == "Off season"
      include forecast-table-summer
    else
      .table-container
        include forecast-table
        include forecast-table

          
    for problem in forecast.problems
      div.problem
        h2 #{ problem.type }
        .image-container
          img(src="#{problem.icons.elevations}")
        .image-container
          img(src="#{problem.icons.aspects}")
        .image-container
          img(src="#{problem.icons.likelihood}")
        .image-container
          img(src="#{problem.icons.expectedSize}")
        div
          strong Travel and Terrain Advice
          p !{ problem.travelAndTerrainAdvice }
          
    h2 Forecast Details
    h3 Avalanche Summary
    p !{forecast.avalancheSummary}
    h3 Snowpack Summary
    p !{forecast.snowpackSummary}
    h3 Weather Forecast
    p !{forecast.weatherForecast}
